---
import Layout from '../layouts/Layout.astro'
---

<Layout title="SiddhantSoftware">
	<main class="">
		<div class="py-20 select-none md:py-60 flex w-full place-items-center justify-center">
			<div class="uppercase tracking-widest grid gap-y-3 text-center font-bold">
				<div class="text-8xl">Siddhant</div>
				<div class="text-6xl">Software</div>
				<div class="opacity-70">
					— OSS — BLOGS — TECH —  
				</div>
			</div>
		</div>
		<div class="bg-white py-10 text-black px-10">
			<div class="text-3xl font-semibold">
				Latest Projects
			</div>
		</div>
	</main>
</Layout>
